    <a class="go" href="../test_image.jpg">Show lightbox!</a>
    <br />
    <a class="go" href="../test_image2.jpg">Show another lightbox!</a>

    <div id="iviewer">
        <div class="loader"></div>

        <div class="viewer"></div>

        <ul class="controls">
            <li class="close"></li>
            <li class="zoomin"></li>
            <li class="zoomout"></li>
        </ul>

        <p class="info">
            Use your scrollwheel or the zoom buttons to zoom in/out.
            Click and drag to view other parts of the image when zoomed.
        </p>
    </div>

    <script type="text/javascript" src="../jquery.js" ></script>
    <script type="text/javascript" src="../jqueryui.js" ></script>
    <script type="text/javascript" src="../jquery.mousewheel.min.js" ></script>
    <script type="text/javascript" src="../../jquery.iviewer.js" ></script>
    <script src="main.js"></script>
