.texto_promo{
    position:absolute;
    top:40px;
    left:10px;
    font-family: customFont;
    font-size:10pt;
}
.color{
    color:#FEAA9D;
}
.telon{
    position:fixed;
    background:black;
    width:100%;
    height:100%;
    z-index:5;
    opacity:0.5;
    top:0px;
    left:0px;
}
.sobre-telon{
    position:fixed;
    width:100%;
    height:100%;
    z-index:5;
    top:0px;
    left:0px;
}
.flyer{
   margin:15px auto;
   width:80%;
   text-align:center;
}
.close-btn:hover{
    cursor:pointer;
}
.close-btn{
    position:absolute;
    top:2px;
}
.tit-novedad{
    font-family:customFont;
    font-size:13pt;
    text-align: left;
    width:70%;
    margin:0 auto;
}
.img_novedad{
    width:200px;
    height:200px;
}
.novedades{
    width:80%;
    margin:0 auto;
    min-width: 250px;
    text-align: center;
}
.novedad{
    height:200px;
    width:200px;
    display:inline-block;
    margin-bottom:4px;
}
.img_novedad:hover{
    cursor:pointer;
}
.fb-like{
    position:fixed;
}
.destacados{
    background:red;
    height:200px;
}
.facebook{
    position:fixed;
    top:3px;
}
#twitter{
    position:fixed;
    top:3px;
    left:80px;
}
.twitter-share-button{
    position:fixed;
    top:3px;
    left:80px;
    opacity:0;
}
.pinterest{
    position:fixed;
    left:50px;
    top:3px;
}
.instagram{
    position:fixed;
    left:80px;
    top:3px;
}
.faq_izq{
    display:inline-block;
    width:100%;
    font-family:customFont;
    font-size:13pt;
    text-align: left;
}
.tope_width{
    width:450px;
}
.form_cambio{
    padding-left: 40px;
}
.error_usuario{
    color:red;
}
.numeric{
    width:2.5em;
}
.total{
    color:gray;
    font-family: customFont;
    font-size:15pt;
}
.pedido_titulo{
    font-family: customFont;
    font-size:35pt;
    width:100%;
    text-align: center;
}
.cabecera_tabla th{
    padding:20px;
    border-top:1px solid #EFEFEF;
    color:gray;
    font-family:customFont;
    font-size:12pt;
    text-align:center;
}
.div_ancho{
    width:60%;
    text-align:right;
}
.eliminar_pedido:hover{
    cursor:pointer;
}
.inline_block{
    display:inline-block;
}
.img_chica{
    width:50px;
    height:40px;
}
.line td{
    border-bottom:1px solid #EFEFEF;
    text-align:center;
    font-family:customFont;
    font-size:12pt;
    color:gray;
}
.align_left{
    text-align:left;
}
.no_line td{
    text-align:center;
    font-family:customFont;
    font-size:12pt;
    color:gray;
    font-weight: bold;
}
.zoom{
    position:relative;
    width:20px;
    color:gray;
}
.zoom:hover{
    cursor:pointer;
}
.faq_titulo{
    font-weight: bold;
}
.precios_mayor{
    font-weight:bold;
    width:220px;
}
.faq_respuesta{
    padding-bottom: 20px;
    text-align:justify;
}
.faq_izq ul{
    list-style-type:none;
}
.faq_der{
    display:inline-block;
    font-family:customFont;
    font-size:13pt;
}
@font-face
{
	font-family: menuFont;
	src: url('font/CaviarDreamsBold.ttf'); 
}
@font-face
{
	font-family: customFont;
	src: url('font/Bellerose.ttf'); 
}
.mag_center{
    text-align: center;
}
.mag_left{
    text-align: left;
}
.cuadro{
    display:inline-block;
    vertical-align: top;
    padding-right:30px;
}
.titulo_reg{
    font-family: customFont;
    font-size:14pt;
}
.box_comprar{
    font-size: 13pt;
    font-family: customFont;
}
.box_comprar > *{
    vertical-align: top;
}
.cantidad_text{
    width:35px;
    display:inline-block;
}
.middle{
}
.ppy-caption{
    display:none;
}
.menu_ppal a > *{
   vertical-align: top;
}
.cant_pedido{
    display:inline-block;
    font-family: arial;
    font-size:9pt;
}
body {
	color: #555;
	background-color:white;
	font-family: customFont;
}
.papa_about{
    width:100%;
    text-align: center;
}
.papa_about > *{
    vertical-align: middle;
}
.img_cond{
    height:680px;
}
.img_abo{
    height:520px;
}
.about{
    text-align: right;
    color:#585858;
    font-weight:normal;
    font-size:13pt;
    font-family: customFont;
    width:45%;
    display:inline-block;
}
.linea{
	border:1px #F2F2F2 solid;
}
.en_fila{
	display:inline;	
}
.en_bloque{
	display:inline-block;	
}
.titulo{
	font-family: customFont;
	font-size:30pt;
}
.descripcion{
	text-align:center;
	font-family: customFont;
	font-size:15pt;
}
.imagen_acerca{
	vertical-align:middle;
}
.text{
	color:black;
	font-weight:normal;
	font-size:12pt;
	text-align:left;
	font-family: customFont;
	overflow:auto;
}
.otros_dicen{
	background:white;
        border:1px solid silver;
	border-radius:10px;
	width:300px;
	height:180px;
	text-align:left;
	font-size:10pt;
	padding:5px;
	color:gray;
}
#comentarios input{
	color:#FEAA9D;
	font-size:12pt;
	font-family: customFont;
}
.upper{
	font-family: customFont;
	font-size:12pt;
}
.tira_imagenes{
    
}
.imagen_chica{
    width:50px;
    height:50px;
    border-radius: 5px;
    padding-right: 2px;
    padding-top: 2px;
}
.imagen_chica:hover{
    cursor:pointer;
}
.mostrador_producto{
    margin:0 auto;
    width:100%;
    text-align: center;
}
.mostrador_producto>*{
    vertical-align: middle;
}
.imagen_mostrador{
    width:400px;
    display:inline-block;
    padding-left:10px;
    padding-right:10px;
}

.descripcion_mostrador{
    display:inline-block;
    width:400px;
    text-align:left;
    padding-left:10px;
    padding-top:10px;
}
.chica{
	color:red;
	font-size:11pt;
	color:#FEAA9D;
	font-family: customFont;
}
.siguenos{
	color:#585858;
	font-weight:normal;
	font-size:12pt;
	text-align:left;
	font-family: customFont;
	overflow:hidden;
	//width:300px;
}
.galeria{
	width:90%;
	margin:20px auto;
	text-align:left;
	display:block;
}
.nom_prod{
	width:200px;
	text-align:center;
	font-size:13pt;
	font-family:customFont;
}
.nom_prod_nodisp{
	width:200px;
	text-align:center;
	font-size:10pt;
	font-family:customFont;
        color:red;
}
.gal_producto{
	display:inline-block;
	padding:5px;
	margin:5px 0;
        vertical-align: top;
}
.img_borde{
	overflow:hidden;
	width:200px;
	height:200px;
}
.img_prod{
	width:200px;
	height:200px;
}
.nueva_fila{
	display:inline-block;
	overflow:auto;
}.imagen_cat{
    width:450px;
}
.inner{
	display:table-cell;
	vertical-align:middle;
}
.titulo-prod{
	font-size:22pt;
	font-family:customFont;
}
.titulo-prod-nodisp{
	font-size:13pt;
	font-family:customFont;
        color:red;
}
.desc_prod{
    font-family:customFont;
    font-size:12pt;
    line-height: 16pt;
}
.gusta_prod{
    border-top:silver dotted 1px;
    padding-top:10px;
    border-bottom: silver dotted 1px;
    padding-bottom: 5px;
}
.nav_prod_l{
    padding-top:5px;
    display:table-cell;
    text-align: left;
}
.nav_prod_r{
   display:table-cell;
   text-align:right;
}
.nav_prod{
    width:100%;
    display:table;
}
.desc_cate >*{
	vertical-align:top;
}
.boton_comprar{
        display: inline-block;
	border-radius:10px;
	background:green;
	width:150px;
	padding:5px;
	margin:0 auto;
	background:#82FA58;
	color:white;
	box-shadow: 2px 2px 5px #888888;
	font-size:13pt;
	font-family:customFont;
	background-repeat: repeat-x;
  	/* Safari 4-5, Chrome 1-9 */
  	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#99FFCC), to(#99FFCC));
  	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-linear-gradient(top, #99FFCC, #99FFCC);
  	/* Firefox 3.6+ */
  	background: -moz-linear-gradient(top, #99FFCC, #99FFCC);
  	/* IE 10 */
  	background: -ms-linear-gradient(top, #99FFCC, #99FFCC);
  	/* Opera 11.10+ */
  	background: -o-linear-gradient(top, #99FFCC, #99FFCC);
}
.boton_comprar_chico{
        display: inline-block;
	border-radius:10px;
	background:green;
	padding:5px;
	margin:0 auto;
	background:#82FA58;
	color:white;
	box-shadow: 2px 2px 5px #888888;
	font-size:13pt;
	font-family:customFont;
	background-repeat: repeat-x;
  	/* Safari 4-5, Chrome 1-9 */
  	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#99FFCC), to(#99FFCC));
  	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-linear-gradient(top, #99FFCC, #99FFCC);
  	/* Firefox 3.6+ */
  	background: -moz-linear-gradient(top, #99FFCC, #99FFCC);
  	/* IE 10 */
  	background: -ms-linear-gradient(top, #99FFCC, #99FFCC);
  	/* Opera 11.10+ */
  	background: -o-linear-gradient(top, #99FFCC, #99FFCC);
}
.boton_comprar_chico:hover{
	cursor:pointer;
}
.boton_comprar:hover{
	cursor:pointer;
}
.desc_cate{
	margin:0 auto;
	text-align:center;
	font-family:customFont;
	font-size:14pt;
}
.precio_prod{
	font-family:customFont;
	font-size:20pt;
	font-weight:bold;
}
.precio_mayor{
	font-family:customFont;
	font-size:12pt;
	font-weight:bold;
        color: #FEAA9D;
}
.menu-abajo{
	font-size:10pt;
	font-family: menuFont;
	display:inline-block;
	margin:10px 10px;
	text-align:left;
        color:#424242;
}
.cat_selected{
	color:#FEAA9D; 
}
.boton_fila{
	font-size: 13pt;
	padding:10px;
	border-top:solid 1px #D8D8D8;
	border-bottom:solid 1px #D8D8D8;
	color:gray;
	font-weight:bold;
	display:inline-block;
	font-family: customFont;
	margin-right:0px;
}
.inner_cat{
	height:20px;
	border-right:solid 1px silver;
	padding-right:20px;
}
.boton_fila_last{
	font-size: 13pt;
	padding:10px;
	font-weight:bold;
	border-top:solid 1px #D8D8D8;
	border-bottom:solid 1px #D8D8D8;
	color:gray;
	display:inline-block;
	font-family: customFont;
}
.boton_fila:hover{
	color:#FEAA9D; 
	cursor:pointer;
}
.boton_fila_last:hover{
    //#B300B2
	color:#FEAA9D; 
	opacity:0.7;
	cursor:pointer;
}
.portada_text{
	max-width:370px;
	text-align:right;
	height:auto;
        overflow: hidden;
}
.center{
	text-align:center;
	display:block;
	border:none;
}
.digitalizaciones{
	border:solid 1px silver;
}
.borde_fila{
	overflow:hidden;
}
#el_menu .btn-link{
	color:#424242; 
	font-size: 10pt;
	font-family: menuFont;
}
.link_path{
	color:#FEAA9D;
	text-decoration:none;
	font-family:customFont;
	font-size:13pt;
}
.link_path:hover{
	color:#FEAA9D;
	text-decoration:none;
}
.link_prod{
	color:black;
	text-decoration:none;
}
.link_prod:hover{
	color:#FEAA9D;
	text-decoration:none;
}
.link_cuenta{
	color:#FEAA9D;
	text-decoration:none;
}
.link_cuenta:hover{
	color:#FEAA9D;
}
.link:hover{
	text-decoration:none;
}
.tabla{
	display:table;
}
.rojo{
	background:red;
}
.producto_categoria{
	width:500px;
}
.tabla{
	width:810px;
	margin:0 auto;
}
.fila{
	display:table-row;
}
.celda{
	display:table-cell;
}
#el_menu .btn-link:hover{
	color:#FEAA9D;
	text-decoration:none;
}
.imagenLogo{
	margin:10px auto;
	/*
	position:relative;
	top:30px;
	*/
}
.espaciosuperior{
	height:30px;
}
.menucategorias{
	margin:0 auto;
	display:table;
}
#page {
	background: white;
}
.fixed{
	text-align:right;
}
.spacer{
	width:30px;
	display:inline-block;
}
.menu{
	text-align:left;
}
.boton{
	display:inline-block;
	text-align:center;
	text-decoration:none;
	color:black;
	width:100px;
	padding:5px;
	border-radius:10px;
	border:#b4e824 1px solid;
	font-size:0.9em;
}
.boton a{
	text-decoration:none;
}

#header {
	margin: 0;
	padding: 0;
	height: 125px;
	background-image: url("../images/banner.png");
}
#cabecera
{
    background:white;
    border-bottom: solid 2px #99FFCC;
    width:100%;
    position:fixed;
    opacity:0.8;
    left:0px;
    top:0px;
}
#el_menu{
	
}
#content {
	padding: 20px;
	width:85%;
	margin:0 auto;
}

#sidebar {
	padding: 20px 20px 20px 0;
}
#footer{
	font-size: 14pt;
	text-align: center;
	border-top: 2px solid #99FFCC;
	color: black;
	display:inline-block;
	width:100%;
	margin:0px;
}
#footer > *{
	vertical-align:top;
}
.f_menu{
	display:inline;
}

#footer a {
	color: #FEAA9D;
	text-decoration:none;
	font-size: 12pt;
}

#logo {
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu {
	background: white url(bg.gif) repeat-x left top;
	height: 40px;
}

#mainmenu ul {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
}

#mainmenu ul li {
	list-style: none;
	display: inline;
	float: left;
	height: 100%;
	padding: 0;
	margin: 0;
}

#mainmenu ul li a {
	display: block;
	padding: 0 15px 0 15px;
	margin: 0;
	line-height: 40px;
	color: green;
	text-decoration: none;
	font-size: 14px;
	font-weight: normal;
}

#mainmenu ul li a:hover,#mainmenu ul li.active a {
	background: url(../images/mainmenu-h.png) no-repeat center;
	color: black;
}

div.flash-error,div.flash-notice,div.flash-success {
	padding: .8em;
	margin-bottom: 1em;
	border: 2px solid #ddd;
}

div.flash-error {
	background: #FBE3E4;
	color: #8a1f11;
	border-color: #FBC2C4;
}

div.flash-notice {
	background: #FFF6BF;
	color: #514721;
	border-color: #FFD324;
}

div.flash-success {
	background: #E6EFC2;
	color: #264409;
	border-color: #C6D880;
}

div.flash-error a {
	color: #8a1f11;
}

div.flash-notice a {
	color: #514721;
}

div.flash-success a {
	color: #264409;
}

div.form .rememberMe label {
	display: inline;
}

div.view {
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs {
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span {
	font-weight: bold;
}

div.search-form {
	padding: 0px;
	margin: 0px 0;
	background: #eee;
}
.label{
	font-size:0.9em;
	font-weight: bold;
}

.portlet {
	
}

.portlet-decoration {
	padding: 3px 8px;
	background: #CCFF33;
	border-left: 5px solid silver;
}

.portlet-title {
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: gray;
}

.portlet-content {
	font-size: 0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background: #E6FFB2;
}

.portlet-content ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.portlet-content li {
	padding: 2px 0 4px 0px;
}

.operations {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li {
	padding-bottom: 2px;
}

.operations li a {
	font: bold 12px Arial;
	color: black;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited {
	color: black;
}

.operations li a:hover {
	background: #CCFF33;
}
.tableResolucion{
	border:solid 1px silver;
}
.divObserv{
	width:100%;
	height:50px;
	overflow:auto;
	border:solid 1px silver;
	padding: 2px 2px 2px 2px;
	background:white;
	font-size:0.8em;
}
.flujoProgramado{
	display:block;
	font-size:1em;
}
.flujoReal2{
	display:block;
	background:#F2F2F2;
}
.flujoReal3{
	display:block;
	background:#F2F2F2;
	
}
.flujoReal{
	display:inline;
	float:left;
	font-size:1.2em;
}
.divResolucion{
	display:block;
	font-size:0.9em;
}

.tableGarantias{
	border:solid 1px silver;
	background:#F2F2F2;
	
}
.x{
	position:relative;
	top:-160px;
	left:140px;
}
.producto{
	width:150px;
	height:150px;
}
